<div class="navbar">

    <p><a href="/" id="nav-brand">SBS BANK</a></p>
    <a href="/customers" class="nav-a">See all customers</a> &nbsp;
    <a href="/transactions" class="nav-a">See all transactions</a>

</div>